<head></head>

<body>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <center><% include ./partials/search %></center>
    <ul>
        <% include ./partials/friends %>
    </ul>

</body>