<head>
    <!-- Title -->
    <title>Home</title>

    <!-- Favicon -->
    <link rel="icon" href="img/home-page/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/home-page/style.css">

</head>
<body>
    <%- body %>
</body>